body {
  background-color: white;
}

.logo {
  width: 340px;
}

.navbr {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  color: #974552;
}

.work {
  font-family: cursive;
  padding: 35px;
}

.tab-links {
  color: #9c4c59;
  font-size: x-large;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: xxx-large;
  text-decoration: underline;
}

.calculator {
  padding: 35px;
  margin-left: 65px;
}

.menu {
  height: 470px;
  width: 500px;
  margin: 30px;
  padding-left: 20px;
}

/* footer */
.copyright {
  color: white;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  margin-top: 20px;
  font-family: cursive;
}

.copyright i {
  color: red;
}
